<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Genshin Impact | Home</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="nav">
        <ul>
            <p class="nav-logo"></p>
<br>
<br>
            <li class="list-active">
                <b></b>
                <b></b>
                <a href="#">
                    <span class="icon">
                        <i class="fa-solid fa-house"></i>
                    </span>
                </a>
            </li>
        </ul>
    </div>
</body>
</html>