<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Genshin Impact | Home</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="nav">
        <ul>
            <p class="genshin">Genshin Impact</p>
            <br>
            <br>
            <li class="list active">
                <b></b>
                <b></b>
                <a href="#">
                    <span class="icon">
                        <img src="home.svg" alt="">
                    </span>
                    <span class="title">Home</span>
                    <span class="tooltip">Home</span>
                </a>
            </li>
            <li class="list">
                <b></b>
                <b></b>
                <a href="#">
                    <span class="icon">
                        <img src="crown.svg" alt="">
                    </span>
                    <span class="title">Top Characters</span>
                    <span class="tooltip">Top Characters</span>
                </a>
            </li>
            <li class="list">
                <b></b>
                <b></b>
                <a href="#">
                    <span class="icon">
                        <img src="swords.svg" alt="">
                    </span>
                    <span class="title">Weapons</span>
                    <span class="tooltip">Weapons</span>
                </a>
            </li>
            <li class="list">
                <b></b>
                <b></b>
                <a href="#">
                    <span class="icon">
                        <img src="map.svg" alt="">
                    </span>
                    <span class="title">Map</span>
                    <span class="tooltip">Map</span>
                </a>
            </li>
            <li class="list">
                <b></b>
                <b></b>
                <a href="#">
                    <span class="icon">
                        <img src="nations.svg">
                    </span>
                    <span class="title">Nations</span>
                    <span class="tooltip">Nations</span>
                </a>
            </li>
            <li class="list">
                <b></b>
                <b></b>
                <a href="#">
                    <span class="icon">
                        <img src="info.svg" alt="">
                    </span>
                    <span class="title">About Us</span>
                    <span class="tooltip">About Us</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="toggle">
        <img src="genshin-logo.jpg" class="open">
        <img src="cross.svg" class="close">
    </div>

<script type="text/javascript">
    let menu = __;
</script>
</body>

</html>