<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Genshin Impact | Sidebar</title>
    <link rel="stylesheet" href="sidebar.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/regular/style.css" />
</head>

<body>
    <div class="nav">
        <ul>
            <p class="genshin-text">Genshin Impact</p>
            <br>
            <br>
            <li class="sidebar-li active">
                <b></b>
                <b></b>
                <a href="#">
                    <span class="icon">
                        <i class="ph ph-house"></i>
                    </span>
                    <span class="title">Home</span>
                    <span class="tooltip">Home</span>
                </a>
            </li>
            <li class="sidebar-li">
                <b></b>
                <b></b>
                <a href="#">
                    <span class="icon">
                        <i class="ph ph-crown"></i>
                    </span>
                    <span class="title">Top Characters</span>
                    <span class="tooltip">Top Characters</span>
                </a>
            </li>
            <li class="sidebar-li">
                <b></b>
                <b></b>
                <a href="#">
                    <span class="icon">
                        <i class="ph ph-sword"></i>
                    </span>
                    <span class="title">Weapons</span>
                    <span class="tooltip">Weapons</span>
                </a>
            </li>
            <li class="sidebar-li">
                <b></b>
                <b></b>
                <a href="#">
                    <span class="icon">
                        <i class="ph ph-map-trifold"></i>
                    </span>
                    <span class="title">Map</span>
                    <span class="tooltip">Map</span>
                </a>
            </li>
            <li class="sidebar-li">
                <b></b>
                <b></b>
                <a href="../nations/nations.html">
                    <span class="icon">
                        <i class="ph ph-compass"></i>
                    </span>
                    <span class="title">Nations</span>
                    <span class="tooltip">Nations</span>
                </a>
            </li>
            <li class="sidebar-li">
                <b></b>
                <b></b>
                <a href="#">
                    <span class="icon">
                        <i class="ph ph-info"></i>
                    </span>
                    <span class="title">About Us</span>
                    <span class="tooltip">About Us</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="toggle">
        <span>
            <img src="genshin-logo.jpg" class="open">
        </span>
        <span>
            <i class="ph ph-x close"></i>
        </span>
    </div>

    <script src="sidebar.js"></script>
</body>

</html>