@font-face {
    font-family: 'Playfair';
    src: url(../assets/fonts/playfair-display.regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
    max-width: 98dvw;
    overflow-x: hidden;
}

/* background */
video {
    object-fit: cover;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.78;
}

/* sidebar */
.nav {
    position: fixed;
    top: 20px;
    left: 20px;
    bottom: 20px;
    width: 70px;
    border-radius: 10px;
    box-sizing: initial;
    border-left: 5px solid #1e2f61;
    background: #1e2f61;
    transition: 0.5s;
    overflow-x: hidden;
    z-index: 999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999;
}

.nav.active {
    width: 300px;
}

.nav ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 5px;
    padding-top: 75px;
}

.nav ul li {
    position: relative;
    display: block;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.tooltip {
    display: none;
    position: fixed;
    left: 117px;
    background: #272727;
    padding: 5px 15px;
    border-radius: 5px;
    margin: 15px 0;
}

.tooltip::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background: #272727;
    transform: rotateZ(45deg);
    top: 7.5px;
    left: -4px;
}

.sidebar-li:hover .tooltip {
    display: block;
}

.nav ul li.active {
    background: #6b99ea;
}

.nav ul li b:nth-child(1) {
    position: absolute;
    top: -20px;
    height: 20px;
    width: 100%;
    background-color: #6b99ea;
    display: none;
}

.nav ul li b:nth-child(1)::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 20px;
    background: #1e2f61;
}

.nav ul li b:nth-child(2) {
    position: absolute;
    bottom: -20px;
    height: 20px;
    width: 100%;
    background: #6b99ea;
    display: none;
}

.nav ul li b:nth-child(2)::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top-right-radius: 20px;
    background: #1e2f61;
}

.nav ul li.active b:nth-child(1),
.nav ul li.active b:nth-child(2) {
    display: block;
}

.nav ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #fff;
}

.nav ul li.active a {
    color: #fff;
}

.nav ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}

.nav ul li a .icon i {
    font-size: 26px;
    color: #8ad7fe;
}

.nav ul li a .title {
    position: relative;
    display: block;
    padding-left: 10px;
    height: 60px;
    line-height: 60px;
    white-space: normal;
}

.toggle {
    position: fixed;
    top: 40px;
    left: 40px;
    float: left;
    z-index: 999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999;
}

.toggle.active {
    left: 270px;
}

.genshin-text {
    display: none;
    position: absolute;
    top: 10px;
    width: 180px;
    left: 35px;
}

.toggle span img,
.toggle span i {
    position: absolute;
    color: #8ad7fe;
    width: 34px;
    height: 34px;
    font-size: 34px;
    display: none;
}

.toggle span i {
    top: 12px;
}

.toggle span img.open,
.toggle.active span i.close {
    display: block;
}

.toggle.active span img.open,
.toggle span i.close {
    display: none;
}

/* Home */
.hero {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero::after {
    content: '';
    width: 100vw;
    top: 0;
    left: 0;
    height: 100vh;
    position: absolute;
    /* background-color: rgba(0, 0, 0, 0.4); */
}

.hero img {
    z-index: 9;
    width: 800px;
    /* backdrop-filter: blur(10px); */
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 30px;
}

.home-sec {
    /* position: relative; */
    width: 100%;
    height: 100vh;
    /* display: flex; */
    padding: 25px;
    margin-bottom: 100px;
}

.home-sec h1 {
    margin: 50px;
    margin-top: 55px;
    font-size: 52px;
    justify-self: center;
    font-family: 'Playfair';
    color: #fff;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.overview .container {
    display: flex;
    justify-content: space-around;
}

.overview .info {
    width: 60%;
    padding: 10px;
    margin-left: 110px;
    margin-right: 15px;
    margin-top: 40px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    align-items: center;
    gap: 2rem;
}

.overview .info p {
    width: 75%;
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 30px;
    text-align: justify;
    /* justify-self: center; */
}

.overview .info .overview-btn {
    width: 70%;
    display: flex;
    gap: 20px;
    /* justify-self: center; */
}

.overview .info .overview-btn button {
    /* width: 180px; */
    /* height: 40px; */
    padding: 15px 25px;
    outline: none;
    background-color: #1e2f61;
    color: #8ad7fe;
    border: none;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color ease 0.5s;
    transition: color ease 0.4s;
}

.overview .info .overview-btn a {
    text-decoration: none;
}

.overview .info .overview-btn a:visited {
    color: #8ad7fe;
}

.overview .info .overview-btn button:hover {
    background-color: #16244d;
    color: #6b99ea;
}

.overview .info .overview-btn button:active {
    color: #6b99ea;
}

.overview .info .overview-banner {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    /* justify-content: flex-start; */
    gap: 20px;
    margin-top: 1.5rem;
}

.overview .info .overview-banner img {
    width: 155px;
}

.overview .overview-img {
    width: 38%;
}

.overview .overview-img img {
    width: 340px;
    height: 535px;
    object-fit: cover;
    border-radius: 30px;
}

.popular-creators {
    height: max-content;
}

.popular-creators .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-self: center;
    justify-self: center;
    gap: 75px;
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 30px;
}

.popular-creators .grid .item {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.popular-creators .grid .item img {
    width: 100px;
    margin: 0 auto;
    border-radius: 50%;
    border: 1px solid #000;
}

hr {
    position: relative;
    top: 50px;
    margin: 20px auto;
    margin-left: 175px;
    background-color: #000;
    height: 5px;
    width: 80vw;
    border: 0;
    box-shadow: 0 0 5px #000;
    border-radius: 5px;
    animation: glow 1.5s ease-in-out infinite;
    -webkit-animation: glow 1.5s ease-in-out infinite;
}

@keyframes glow {
    0% {
        box-shadow: 0 0 2px #000;
    }

    50% {
        box-shadow: 0 0 8px #000;
    }

    100% {
        box-shadow: 0 0 2px #000;
    }
}

@-webkit-keyframes glow {
    0% {
        box-shadow: 0 0 2px #000;
    }

    50% {
        box-shadow: 0 0 8px #000;
    }

    100% {
        box-shadow: 0 0 2px #000;
    }
}