@font-face {
    font-family: 'Playfair';
    src: url(../assets/fonts/playfair-display.regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    overflow-x: hidden;
}

/* background */
video {
    object-fit: cover;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* sidebar */
.nav {
    position: fixed;
    top: 20px;
    left: 20px;
    bottom: 20px;
    width: 70px;
    border-radius: 10px;
    box-sizing: initial;
    border-left: 5px solid #1e2f61;
    background: #1e2f61;
    transition: 0.5s;
    overflow-x: hidden;
    z-index: 999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999;
}

.nav.active {
    width: 300px;
}

.nav ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 5px;
    padding-top: 75px;
}

.nav ul li {
    position: relative;
    display: block;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.tooltip {
    display: none;
    position: fixed;
    left: 117px;
    background: #272727;
    padding: 5px 15px;
    border-radius: 5px;
    margin: 15px 0;
}

.tooltip::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background: #272727;
    transform: rotateZ(45deg);
    top: 7.5px;
    left: -4px;
}

.sidebar-li:hover .tooltip {
    display: block;
}

.nav ul li.active {
    background: #6b99ea;
}

.nav ul li b:nth-child(1) {
    position: absolute;
    top: -20px;
    height: 20px;
    width: 100%;
    background-color: #6b99ea;
    display: none;
}

.nav ul li b:nth-child(1)::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 20px;
    background: #1e2f61;
}

.nav ul li b:nth-child(2) {
    position: absolute;
    bottom: -20px;
    height: 20px;
    width: 100%;
    background: #6b99ea;
    display: none;
}

.nav ul li b:nth-child(2)::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top-right-radius: 20px;
    background: #1e2f61;
}

.nav ul li.active b:nth-child(1),
.nav ul li.active b:nth-child(2) {
    display: block;
}

.nav ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #fff;
}

.nav ul li.active a {
    color: #fff;
}

.nav ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}

.nav ul li a .icon i {
    font-size: 26px;
    color: #8ad7fe;
}

.nav ul li a .title {
    position: relative;
    display: block;
    padding-left: 10px;
    height: 60px;
    line-height: 60px;
    white-space: normal;
}

.toggle {
    position: fixed;
    top: 40px;
    left: 40px;
    float: left;
    z-index: 999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999;
}

.toggle.active {
    left: 270px;
}

.genshin-text {
    display: none;
    position: absolute;
    top: 10px;
    width: 180px;
    left: 35px;
}

.toggle span img,
.toggle span i {
    position: absolute;
    color: #8ad7fe;
    width: 34px;
    height: 34px;
    font-size: 34px;
    display: none;
}

.toggle span i {
    top: 12px;
}

.toggle span img.open,
.toggle.active span i.close {
    display: block;
}

.toggle.active span img.open,
.toggle span i.close {
    display: none;
}

/* Weapons */
.weapon-sec {
    width: 100vw;
    height: 100vh;
    position: sticky;
    top: 0;
    padding: 1.5rem;
    /* padding-top: 25px; */
    /* background-color: rgb(200, 200, 0); */
}

.weapon-sec:nth-child(2) {
    background: #63c4eb;
    background: linear-gradient(90deg, rgba(99, 196, 235, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(255, 232, 82, 1) 100%);
}

.weapon-sec:nth-child(3) {
    background: #9e5eff;
    background: linear-gradient(90deg, rgba(158, 94, 255, 1) 0%, rgba(250, 184, 77, 1) 100%);
}

.weapon-sec:nth-child(4) {
    background: #ff5e7e;
    background: linear-gradient(90deg, rgba(255, 94, 126, 1) 0%, rgba(255, 244, 122, 1) 100%);
}

.weapon-sec:nth-child(5) {
    background: #ffb95e;
    background: linear-gradient(90deg, rgba(255, 185, 94, 1) 0%, rgba(97, 242, 160, 1) 100%);
}

.weapon-sec:nth-child(6) {
    background: #ff5e9f;
    background: linear-gradient(90deg, rgba(255, 94, 159, 1) 0%, rgba(97, 162, 242, 1) 100%);
}

.hero {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
}

.hero::after {
    content: '';
    width: 100vw;
    top: 0;
    left: 0;
    height: 100vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
}

.hero h1 {
    color: #fff;
    z-index: 9;
    font-size: 140px;
    text-shadow: none;
}

.weapon-sec h1 {
    /* line-height: 100px; */
    font-size: 52px;
    justify-self: center;
    text-align: center;
    font-family: 'Playfair';
    color: #fff;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.detail-card {
    display: flex;
    align-items: center;
    margin: 1rem auto;
    width: max-content;
    height: min-content;
    background-color: #191919;
    border-radius: 30px;
    gap: 20px;
    padding: 30px;
    line-height: 30px;
    color: #fff;
}

.detail-card img {
    height: 100px;
    border-radius: 50%;
}

/* Slider */
.swiper {
    max-width: 60%;
    overflow: visible;
    position: relative;
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translateX(-50%); */
    margin-top: 2rem;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 250px;
    height: 250px;
}

.swiper-slide::after {
    position: absolute;
    content: "";
    inset: 0;
    width: 250px;
    aspect-ratio: 1/1;
    border-radius: 50px;
    /* background: linear-gradient(to bottom right, #b8b8b88f, #ffffff5e); */
}

.swiper-slide-active::after {
    background: none;
}

.swiper-slide>div {
    text-align: center;
    display: none;
    opacity: 0;
}

.swiper-slide-active div {
    display: block;
    opacity: 1;
    position: relative;
    bottom: 3.2rem;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    width: 200px;
    margin: 0 25px;
    color: #fff;
    padding: 0.5rem;
}

.swiper-slide p {
    font-size: 0.773124rem;
    /* font-family: "Libre Baskerville", serif; */
    /* position: relative; */
}

.swiper-slide img {
    display: block;
    width: 250px;
    object-fit: cover;
    object-position: center;
    box-shadow: 0px 3px 17px rgb(0 0 0 / 25%);
    border-radius: 20px;
    aspect-ratio: 1/1;
    border-radius: 50px;
}

.swiper-pagination {
    width: fit-content;
    height: 20px;
    position: relative;
    margin: 0 auto;
    margin-top: 10rem;
}