<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Genshin Imact | Nations</title>
    <link rel="stylesheet" href="nations.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/regular/style.css" />
</head>

<body>
    <!-- sidebar -->
    <div class="nav">
        <ul>
            <p class="genshin-text">Genshin Impact</p>
            <br>
            <br>
            <li class="sidebar-li active">
                <b></b>
                <b></b>
                <a href="#">
                    <span class="icon">
                        <i class="ph ph-house"></i>
                    </span>
                    <span class="title">Home</span>
                    <span class="tooltip">Home</span>
                </a>
            </li>
            <li class="sidebar-li">
                <b></b>
                <b></b>
                <a href="#">
                    <span class="icon">
                        <i class="ph ph-crown"></i>
                    </span>
                    <span class="title">Top Characters</span>
                    <span class="tooltip">Top Characters</span>
                </a>
            </li>
            <li class="sidebar-li">
                <b></b>
                <b></b>
                <a href="#">
                    <span class="icon">
                        <i class="ph ph-sword"></i>
                    </span>
                    <span class="title">Weapons</span>
                    <span class="tooltip">Weapons</span>
                </a>
            </li>
            <li class="sidebar-li">
                <b></b>
                <b></b>
                <a href="#">
                    <span class="icon">
                        <i class="ph ph-map-trifold"></i>
                    </span>
                    <span class="title">Map</span>
                    <span class="tooltip">Map</span>
                </a>
            </li>
            <li class="sidebar-li">
                <b></b>
                <b></b>
                <a href="#">
                    <span class="icon">
                        <i class="ph ph-compass"></i>
                    </span>
                    <span class="title">Nations</span>
                    <span class="tooltip">Nations</span>
                </a>
            </li>
            <li class="sidebar-li">
                <b></b>
                <b></b>
                <a href="#">
                    <span class="icon">
                        <i class="ph ph-info"></i>
                    </span>
                    <span class="title">About Us</span>
                    <span class="tooltip">About Us</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="toggle">
        <span>
            <img src="genshin-logo.jpg" class="open">
        </span>
        <span>
            <i class="ph ph-x close"></i>
        </span>
    </div>
    <!-- nations -->
    <div class="carousel">
        <div class="nations-li">
            <div class="item">
                <img src="mondstadt/img.png">
                <div class="content">
                    <div class="author">Rag Coders</div>
                    <div class="title">Nations</div>
                    <div class="topic">Mondstadt</div>
                    <div class="des">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut sequi, rem magnam nesciunt minima
                        placeat, itaque eum neque officiis unde, eaque optio ratione aliquid assumenda facere ab et
                        quasi ducimus aut doloribus non numquam. Explicabo, laboriosam nisi reprehenderit tempora at
                        laborum natus unde. Ut, exercitationem eum aperiam illo illum laudantium?
                    </div>
                    <div class="buttons">
                        <button>See More</button>
                        <button>Subscribe</button>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="liyue/img.jpg">
                <div class="content">
                    <div class="author">Rag Coders</div>
                    <div class="title">Nations</div>
                    <div class="topic">Liyue</div>
                    <div class="des">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut sequi, rem magnam nesciunt minima
                        placeat, itaque eum neque officiis unde, eaque optio ratione aliquid assumenda facere ab et
                        quasi ducimus aut doloribus non numquam. Explicabo, laboriosam nisi reprehenderit tempora at
                        laborum natus unde. Ut, exercitationem eum aperiam illo illum laudantium?
                    </div>
                    <div class="buttons">
                        <button>See More</button>
                        <button>Subscribe</button>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="inazuma/img.png">
                <div class="content">
                    <div class="author">Rag Coders</div>
                    <div class="title">Nations</div>
                    <div class="topic">Inazuma</div>
                    <div class="des">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut sequi, rem magnam nesciunt minima
                        placeat, itaque eum neque officiis unde, eaque optio ratione aliquid assumenda facere ab et
                        quasi ducimus aut doloribus non numquam. Explicabo, laboriosam nisi reprehenderit tempora at
                        laborum natus unde. Ut, exercitationem eum aperiam illo illum laudantium?
                    </div>
                    <div class="buttons">
                        <button>See More</button>
                        <button>Subscribe</button>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="sumeru/img.png">
                <div class="content">
                    <div class="author">Rag Coders</div>
                    <div class="title">Nations</div>
                    <div class="topic">Sumeru</div>
                    <div class="des">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut sequi, rem magnam nesciunt minima
                        placeat, itaque eum neque officiis unde, eaque optio ratione aliquid assumenda facere ab et
                        quasi ducimus aut doloribus non numquam. Explicabo, laboriosam nisi reprehenderit tempora at
                        laborum natus unde. Ut, exercitationem eum aperiam illo illum laudantium?
                    </div>
                    <div class="buttons">
                        <button>See More</button>
                        <button>Subscribe</button>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="fontaine/img.jpg">
                <div class="content">
                    <div class="author">Rag Coders</div>
                    <div class="title">Nations</div>
                    <div class="topic">Fontaine</div>
                    <div class="des">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut sequi, rem magnam nesciunt minima
                        placeat, itaque eum neque officiis unde, eaque optio ratione aliquid assumenda facere ab et
                        quasi ducimus aut doloribus non numquam. Explicabo, laboriosam nisi reprehenderit tempora at
                        laborum natus unde. Ut, exercitationem eum aperiam illo illum laudantium?
                    </div>
                    <div class="buttons">
                        <button>See More</button>
                        <button>Subscribe</button>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="natlan/img.jpg">
                <div class="content">
                    <div class="author">Rag Coders</div>
                    <div class="title">Nations</div>
                    <div class="topic">Natlan</div>
                    <div class="des">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut sequi, rem magnam nesciunt minima
                        placeat, itaque eum neque officiis unde, eaque optio ratione aliquid assumenda facere ab et
                        quasi ducimus aut doloribus non numquam. Explicabo, laboriosam nisi reprehenderit tempora at
                        laborum natus unde. Ut, exercitationem eum aperiam illo illum laudantium?
                    </div>
                    <div class="buttons">
                        <button>See More</button>
                        <button>Subscribe</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="thumbnail">
            <div class="item">
                <img src="mondstadt/icon.png">
                <div class="content">
                    <div class="title">Mondstadt</div>
                    <div class="des">Nation of Freedom</div>
                </div>
            </div>
            <div class="item">
                <img src="liyue/icon.png">
                <div class="content">
                    <div class="title">Liyue</div>
                    <div class="des">Nation of Contracts</div>
                </div>
            </div>
            <div class="item">
                <img src="inazuma/icon.png">
                <div class="content">
                    <div class="title">Inazuma</div>
                    <div class="des">Nation of Eternity</div>
                </div>
            </div>
            <div class="item">
                <img src="sumeru/icon.png">
                <div class="content">
                    <div class="title">Sumeru</div>
                    <div class="des">Nation of Wisdom</div>
                </div>
            </div>
            <div class="item">
                <img src="fontaine/icon.png">
                <div class="content">
                    <div class="title">Fontaine</div>
                    <div class="des">Nation of Justice</div>
                </div>
            </div>
            <div class="item">
                <img src="natlan/icon.png">
                <div class="content">
                    <div class="title">Natlan</div>
                    <div class="des">Nation of War</div>
                </div>
            </div>
        </div>
        <div class="arrows">
            <button id="prev"><</button>
            <button id="next">></button>
        </div>
    </div>

    <script src="nations.js"></script>
</body>

</html>